# MariaDB configuration
DB_NAME=
DB_USER=

# WordPress configuration
WP_ADMIN_USER=
WP_ADMIN_EMAIL=
WP_USER=
WP_USER_EMAIL=

#Domain configuration
DOMAIN_NAME=

# Sensitive information - like passwords should be stored as Docker Secrets.
# Because secrets are encrypted. From the documentation:
#   | Secrets are encrypted during transit and at rest in a Docker swarm. A
#   | given secret is only accessible to those services which have been granted
#   | explicit access to it, and only while those service tasks are running.
# We can also
#   | use Docker secrets to centrally manage this data and securely transmit it
#   | to only those containers that need access to it.
# The problem with environment variables is that all passwords and ssh keys are
# stored in clear and all processes with the same privileges or more, also have
# access to these credentials. We can easily read envvar of a process with a pid
# value with:
#   | cat /proc/<pid>/environ
